/* Tooltip container */
.stockpress-tip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  cursor: pointer;

  .stockpress-tip-content {
    visibility: hidden;
    min-width: 200px;
    background-color: #fff;
    color: #222;
    text-align: center;
    padding: 5px;
    border: 1px solid #999;
    border-top: 4px solid #1e6abc;

    /* Position the stockpress-tip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -100px;

    /* Fade in stockpress-tip */
    opacity: 0;
    transition: opacity 0.3s;

    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #999 transparent transparent transparent;
    }

    .change-percent-positive {
      font-size: 0.857em;
      color: #008000;
    }

    .change-percent-negative {
      font-size: 0.857em;
      color: #ff0000;
    }

    .latest-time {
      font-size: 0.75em;
    }

  }



  &:hover .stockpress-tip-content,
  &:focus .stockpress-tip-content{
    visibility: visible;
    opacity: 1;
  }
}
